<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TestNameMapper">
    
    <resultMap type="TestName" id="TestNameResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="studnetId"    column="studnet_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="delFalg"    column="del_falg"    />
    </resultMap>

    <sql id="selectTestNameVo">
        select id, name, studnet_id, create_by, create_time, update_by, update_time, status, del_falg from test_name
    </sql>

    <select id="selectTestNameList" parameterType="TestName" resultMap="TestNameResult">
        <include refid="selectTestNameVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="studnetId != null  and studnetId != ''"> and studnet_id = #{studnetId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="delFalg != null  and delFalg != ''"> and del_falg = #{delFalg}</if>
        </where>
    </select>
    
    <select id="selectTestNameById" parameterType="Long" resultMap="TestNameResult">
        <include refid="selectTestNameVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestName" parameterType="TestName" useGeneratedKeys="true" keyProperty="id">
        insert into test_name
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="studnetId != null">studnet_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="delFalg != null">del_falg,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="studnetId != null">#{studnetId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFalg != null">#{delFalg},</if>
         </trim>
    </insert>

    <update id="updateTestName" parameterType="TestName">
        update test_name
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="studnetId != null">studnet_id = #{studnetId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFalg != null">del_falg = #{delFalg},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestNameById" parameterType="Long">
        delete from test_name where id = #{id}
    </delete>

    <delete id="deleteTestNameByIds" parameterType="String">
        delete from test_name where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>